.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.form h1 {
  text-align: center;
  margin: 0;
  color: #4d6cfa;
}

.form {
  border-radius: 2rem;
  min-width: 600px;
  background: #f4f4f4;
  box-shadow: #cccccc 1rem 1rem 1rem;
  padding: 4rem 4rem;
}

.form-input {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0rem;
}

.form-input label {
  flex: 1;
}

.form-input input {
  flex: 3;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.form-input .check {
  flex: 1.5;
}

.form button {
  display: inline-block;
  border: none;
  background: #4d6cfa;
  color: #f4f4f4;
  font-weight: bold;
  border-radius: 0.4rem;
  padding: 0.6rem 1.2rem;
}

.form button:hover {
  transform: scale(1.05);
}

.card {
  background: #f4f4f4;
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: #cccccc 1rem 1rem 1rem;
}

.card h1 {
  color: #4d6cfa;
  border-bottom: 0.25rem solid #bbbbbb;
}
